.footer {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
}

.footer-content {
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content p {
    width: 33.3%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content a {
    color: white;
    text-decoration: none;
}

.footer-content a:hover {
    color: #f0f0f0;
    font-weight: bold;
    text-decoration: underline;
}

.links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.link-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 640px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
        gap: 0.5rem;
    }

    .footer-links {
        gap: 1rem;
    }
}