.rule-container {
    gap: 2rem;
    max-width: 1700px;
    margin: 0 0 0 40px;
}

.rule-container .rule-description {
    width: 100%;
}

/* .rule-container .image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.rule-container .image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 1rem;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in {
    animation: fadeIn 0.6s ease-out forwards;
}

@media screen and (min-width: 1024px) {
    .rule-container {
        grid-template-columns: 3fr 2fr;
        align-items: start;
    }

    .rule-container .image-container {
        position: sticky;
        top: 100px;
    }
}

@media screen and (max-width: 768px) {
    .rule-container {
        padding: 1rem;
    }

    .rule-container .rule-description,
    .rule-container .image-container {
        width: 100%;
    }
}