.circuit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.gate-container {
  max-width: full;
  overflow: auto;
  -ms-overflow-style: none;
  /* Firefox 対応 */
  scrollbar-width: none;
}

.gate-container::-webkit-scrollbar {
  display:none;
 }

.x-gate {
  width: 60px;
  height: 40px;
  background-color: #f0f0f0;
  border-radius: 10%;
  align-items: center;
  margin: 0px 10px 10px 10px;
  font-size: 20px;
  font-weight: bold;
  color: #242424;
  cursor: pointer;
  transition: background-color 0.3s;
}

.x-gate:hover {
  background-color: #14a6dfc8;
}

.h-gate {
  width: 60px;
  height: 40px;
  background-color: #f0f0f0;
  border-radius: 10%;
  align-items: center;
  margin: 0px 10px 10px 10px;
  font-size: 20px;
  font-weight: bold;
  color: #242424;
  cursor: pointer;
  transition: background-color 0.3s;
}

.h-gate:hover {
  background-color: #ac14dfc8;
}

.display-circuit {
  background-color: rgba(10, 253, 253, 0.3);
  border-radius: 3%;
  border: 2px solid #242424;
  width: 50%;
  height: 20vh;
  margin-left: auto;
  margin-right: auto;
}

.circuit {
  display: flex;
}

.gate {
  color: #f0f0f0;
  width: 30px;
  font-size: 30px;
  padding: 10px;
  border: 2px solid #242424;
  margin: 4px 10px;
  cursor: pointer;
  background-color: rgba(16, 20, 253, 0.5);
  border-radius: 10%;
}

.gate:hover {
  background-color: rgba(13, 177, 195, 0.5);
  transition: background-color 0.3s;
}

.circuit-gate-block{
  width: 20px;
  height: 20px;
  text-align: center;
  border-bottom: 1.5px solid  rgb(112, 109, 109);
}

.circuit-gate-block-I{
  width: 60px;
  height: 20px;
  text-align: center;
  border-bottom: 1.5px solid  rgb(112, 109, 109);
}

.circuit-h-gate{
  background-color: rgb(244, 85, 85);
  color: black;
  text-align: center;
  font-weight: bold;
  padding: 6px 2px;
  width: 40px;
  border-radius: 10%;
}

.circuit-x-gate{
  background-color: rgb(1, 90, 244);
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 6px 2px;
  width: 40px;
  border-radius: 10%;
}

@media screen and (max-width: 640px) {
  .circuit-gate-block{
    width: 10px;
    height: 20px;
    text-align: center;
    border-bottom: 1.5px solid  rgb(112, 109, 109);
  }
  
  .circuit-gate-block-I{
    width: 50px;
    height: 20px;
    text-align: center;
    border-bottom: 1.5px solid  rgb(112, 109, 109);
  }
}

.PizzaChart{
    margin-left: 100px;
}

h3 {
  margin-bottom: 0px;
}

.ans1 {
  border: 3px dotted #242424;
  width: 220px;
  height: 220px;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+SC:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+SC:wght@100..900&family=Noto+Sans+TC:wght@100..900&display=swap');

.reset-title{
    font-family: 'Noto Sans JP', sans-serif;
    color: #242424;
}

.reset-title.zh{
    font-family: 'Noto Sans SC', sans-serif !important;
}

.reset-text{
    font-family: 'Noto Sans JP', sans-serif;
    color: #242424;
}

.reset-text.zh{
    color: #10e36b;
    font-family: 'Noto Sans SC', sans-serif !important;
}

.reset-button{
    /* font-family: 'Noto Sans JP', sans-serif; */
    font-weight: bold;
    background-color: #d33 !important;
  }

.reset-button.zh{
    font-family: 'Noto Sans SC', sans-serif;
}


.QuantumPizzaGame {
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1); /* 半透明の黒 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.overlay-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.blur {
  filter: blur(5px); /* コンテンツをぼかす */
}

.link-to-next {
  background-color: #f0f0f0;
  border: 2px solid #242424;
  border-radius: 10%;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.fixed-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding: 0.5rem;
}


.my-swal {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    width: 100%;
  }

  .my-swal.zh{
    font-family: 'Noto Sans SC', sans-serif !important;
}



  .my-swal-popup{
    background-color: #ffffff;
  }
  
  .my-swal-title {
    color: #4a4a4a;
    font-size: 24px;
    font-weight: bold;
  }
  
  .my-swal-html {
    color: #2c3e50;
    font-size: 16px;
    width: 100%;
  }
  
  .my-swal-confirm-button {
    background-color: #3498db !important;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px 20px;
  }

  .my-swal-confirm-button-next{
    background-color: #10e36b !important;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px 20px;
    margin-left: 40px;
  }

  .my-swal-confirm-button-next-center{
    background-color: #10e36b !important;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px 20px;

  }
  
  .my-swal-cancel-button {
    background-color: #e74c3c !important;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px 20px;
  }
  
  .my-swal-confirm-button:hover, .my-swal-cancel-button:hover {
    opacity: 0.8;
  }

  /* .my-swal.h-1{
    font-size: 24px;
    font-weight: bold;
  } */

  .circuit-list-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 20px; */
    width: 100%;
  }

  .fwb{
    font-weight: bold;
  }